body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .landing{
    /* Blue section CSS */
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.header-left,.header-right{
  display: flex;
  align-items: center;
}

.header-left{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.landing{
    padding-top: 50px;
    padding-bottom: 50px;
}

.landing-left,.landing-right{
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  gap: 16px;
}

.landing-left{
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text{
    font-size: 12px;
    color: #E5E7EB;
    text-decoration: none;
}

.sign-button{
    background-color: #3882f2;
    height: 40px;
    width: 120px;
    border-radius: 12px;
    color: #E5E7EB;
    font-weight: bold;
}

ul{
    display: flex;
    list-style-type: none;
    padding-inline-start:0px;
    gap: 20px;
}

.information, .quote{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.informationheader-text{
    font-size: 38px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.information-cards{
    display: flex;
    justify-content: center;
}

.card{
    padding: 25px;
    width: 150px;
}

.card-text{
    font-size: 12px;
    color: #37383b;
    text-decoration: none;
    text-align: justify;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

}

.mainquote-text{
    color: #1f2937;
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
}

.secondary-quote-text{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.register-background{
    display: flex;
    margin: 90px;
    height: 150px;
    background-color: #3882f2;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}

.register-button{
    background-color: #3882f2;
    height: 40px;
    width: 120px;
    border-color: #E5E7EB;
    border-radius: 12px;
    border-style:solid;
    color: #E5E7EB;
    font-weight: bold;
}